@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Container Calculator */
.calculator {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

/* Start container title */

.calculator .container-title h1 {
    font-size: 2.3em;
}

.container-title .cta {
    flex-basis: 50%;
    padding: 10px;
    background-color: rgb(241, 117, 117);
    color: white;
    border-radius: 30px;
    text-align: center;
    width: 30%;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

a {
    text-decoration: none;
}

/* Akhir container title */

/* Start container app */
.calculator-app {

    flex-basis: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;

}

.display-result {
    background-color: darkturquoise;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.display-result .result {
    color: white;
    font-size: 2.3em;
}

.display-number {
    display: flex;
    cursor: pointer;
    padding: 10px;
}

.display-number .number {
    flex-basis: 25%;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bolder;

}

.display-number .operator {
    color: rgb(236, 119, 119);

}

.display-number .clear {
    flex-basis: 50%;
    color: rgb(236, 119, 119);

}

/* Last container app */


/* History */
.CalculatorHistory {
    display: flex;
    align-items: center;
    max-width: 1440px;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 30px;
    overflow: hidden;
}

.history-title {
    flex-basis: 50%;
    padding: 10px;
}

table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex-basis: 50%;
    padding: 10px;
}

thead th,
td {
    padding: 10px;
    text-align: center;
}

.historyList tr:nth-child(even) {
    background-color: rgb(255, 122, 122);
    color: white;
}








/* Responsive breakpoint */
@media screen and (max-width: 800px) {
    .calculator {
        flex-direction: column;
    }

    .container-title {
        margin-bottom: 10px;
        text-align: center;
        padding: 10px
    }

    .container-app {
        padding: 10px;
    }

    .container-title .cta {
        width: 100%;
    }
}